/*
    Fonts
    ---
    @font-face declarations
*/

@font-face {
    font-family: "Inter UI";
    font-weight: 400;
    src: url("../fonts/Inter-UI-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "Inter UI";
    font-weight: 700;
    src: url("../fonts/Inter-UI-Bold.woff2") format("woff2")
}

@font-face {
    font-family: "Droid Serif";
    font-weight: 400;
    src: url("../fonts/DroidSerif-Regular-webfont.woff") format("woff")
}

@font-face {
    font-family: "Droid Serif";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/DroidSerif-Italic-webfont.woff") format("woff")
}

@font-face {
    font-family: "Droid Serif";
    font-weight: 700;
    src: url("../fonts/DroidSerif-Bold-webfont.woff") format("woff")
}

@font-face {
    font-family: "Droid Serif";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/DroidSerif-BoldItalic-webfont.woff") format("woff")
}

/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
    font-size: 16px;
    line-height: 1.5;
<<<<<<< HEAD
    font-family: "Droid Serif", Georgia, serif;
    color: #5C6366;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
=======
    font-family: "Helvetica Neue", Helvetica, arial, sans-serif;
    color: #111;
    padding: 48px 24px 24px;
}

body {
    max-width: 42em;
    margin: 0 auto;
>>>>>>> 2da8462d2a0854bdeb83547c0f2f4a708a099ca9
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
<<<<<<< HEAD
    background: #00E6A1;
=======
    background: #e85e00;
>>>>>>> 2da8462d2a0854bdeb83547c0f2f4a708a099ca9
    color: white;
    text-shadow: none;
}

::selection {
<<<<<<< HEAD
    background: #00E6A1;
=======
    background: #e85e00;
>>>>>>> 2da8462d2a0854bdeb83547c0f2f4a708a099ca9
    color: white;
    text-shadow: none;
}

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    color: #17181A;
    font-family: "Inter UI", "Helvetica Neue", Helvetica, arial, sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 24px;
    font-family: "Playfair Display", serif;
}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

*+h2 {
    padding-top: 24px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: #00A1E6;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: #00B37D;
}

a:hover,
a:focus {
    color: #1ABAFF;
}

@media (min-width: 768px) {
    h1 {
        font-size: 46px;
        line-height: 56px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 52px;
        line-height: 64px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 58px;
        line-height: 72px;
    }
}

<<<<<<< HEAD
/*
    Components: Type
    ---
    Special typography classes
*/

.c-type-meta {
    font-size: 14px;
    line-height: 16px;
}

/*
    Components: Author
*/

.c-author {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.c-author__image {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    margin-right: 16px;
}

.c-author__caption {
    padding-top: 0;
}

.c-author__name,
.c-author__meta {
    margin-bottom: 0;
}

.c-author__name {
    font-size: 16px;
}

.c-author__meta {
    font-size: 14px;
    font-family: "Inter UI", "Helvetica Neue", Helvetica, arial, sans-serif;
    line-height: 16px;
}

@media (min-width: 992px) {
    .c-author {
        display: block;
    }
    .c-author__image {
        margin-bottom: 16px;
    }
}

/*
    Components: Article
*/

.c-article__header,
.c-article__body {
    max-width: 1200px;
    margin: 0 auto;
}

.c-article__header {
    padding: 24px 24px 0;
}

.c-article__body {
    padding: 0 24px;
}

@media (min-width: 768px) {
    .c-article__header {
        padding: 48px 48px 24px;
    }
    .c-article__author {
        padding-bottom: 24px;
    }
    .c-article__body {
        padding: 24px 48px;
    }
}

@media (min-width: 992px) {
    .c-article__body {
        display: flex;
        flex-wrap: wrap;
    }
    .c-article__author {
        width: 25%;
        padding-right: 24px;
    }
    .c-article__content {
        width: 75%;
    }
}

/*
    Utilities: Spacing
    ---
    Utility classes to put specific spacing values onto elements.
*/

.u-margin-bottom-none {
    margin-bottom: 0;
}

.u-margin-bottom-xs {
    margin-bottom: 8px;
}

.u-margin-bottom-sm {
    margin-bottom: 16px;
}

.u-margin-bottom-md {
    margin-bottom: 24px;
}

.u-margin-bottom-lg {
    margin-bottom: 32px;
}

.u-margin-bottom-xl {
    margin-bottom: 48px;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements.
*/

.u-max-width-sm {
    max-width: 36em;
}

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
*/

=======
>>>>>>> 2da8462d2a0854bdeb83547c0f2f4a708a099ca9
/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

<<<<<<< HEAD
@media (min-width: 768px) {}
=======
@media (min-width: 768px) {
    html {
        padding: 48px 48px 24px;
    }
    h1 {
        font-size: 58px;
        line-height: 64px;
    }
}
>>>>>>> 2da8462d2a0854bdeb83547c0f2f4a708a099ca9

/* Large devices (landscape tablets, desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
<<<<<<< HEAD
        /* Black prints faster: http://www.sanbeiji.com/archives/953 */
        color: #000 !important;
=======
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
>>>>>>> 2da8462d2a0854bdeb83547c0f2f4a708a099ca9
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}