/*
    Fonts
    ---
    @font-face declarations
*/

@font-face {
    font-family: "Inter UI";
    font-weight: 400;
    src: url("../fonts/Inter-UI-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "Inter UI";
    font-weight: 700;
    src: url("../fonts/Inter-UI-Bold.woff2") format("woff2")
}

@font-face {
    font-family: "Droid Serif";
    font-weight: 400;
    src: url("../fonts/DroidSerif-Regular-webfont.woff") format("woff")
}

@font-face {
    font-family: "Droid Serif";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/DroidSerif-Italic-webfont.woff") format("woff")
}

@font-face {
    font-family: "Droid Serif";
    font-weight: 700;
    src: url("../fonts/DroidSerif-Bold-webfont.woff") format("woff")
}

@font-face {
    font-family: "Droid Serif";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/DroidSerif-BoldItalic-webfont.woff") format("woff")
}

/*
    Elements: Page
    ---
    Default markup for page level elements
*/

html {
    font-size: 16px;
    line-height: 1.5;
    /* font-family: "Inter UI", "Helvetica Neue", Helvetica, arial, sans-serif; */
    font-family: "Droid Serif", Georgia, serif;
    color: #5C6366;
    padding: 48px 24px 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    max-width: 42em;
    margin: 0 auto;
}

/* html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
} */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #00E6A1;
    color: white;
    text-shadow: none;
}

::selection {
    background: #00E6A1;
    color: white;
    text-shadow: none;
}

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    color: #17181A;
    font-family: "Inter UI", "Helvetica Neue", Helvetica, arial, sans-serif;
}

h1 {
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 48px;
}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol{
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: #00A1E6;
    transition: all .1s ease-in-out;
}

a:visited,
a:active {
    color: #00E6A1;
}

a:hover,
a:focus {
    color: #1ABAFF;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/
/*
.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}
*/
/*
    Objects: Grid
    ---
    Creates a horizontal row with padding
*/

/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/
/*
.c-row {
    position: relative;
    padding: 24px 24px 0;
}
*/
/*
    Utility classes
    ---
    Several helper classes
*/
/*
.u-max-width-sm {
    max-width: 36em
}
*/
/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    h1 {
        font-size: 58px;
        line-height: 64px;
    }
}

/* Large devices (landscape tablets, desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
